html {
    font-size: 62.5%; 
  }

body {
    font-family: Arial, Helvetica, sans-serif,sans-serif;
}

.container {
    max-width: 75em;
    padding: 0 1em;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.title {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
    color: #cc9543;
}

.game {
    display: flex;
    justify-content: center;
}

.game h3 {
    font-size: 2rem;
    color: #555;
    margin-bottom: 3rem;
}

.game p {
    font-weight: normal;
    font-size: 2.8rem;
    margin-bottom: 4rem;
    color: #555;
}

.game h4 {
    font-size: 1.6rem;
    color: #555;
    margin-bottom: 1.2rem;
}

.player {
    /* background-color: lightblue; */
    flex-grow: 1;
}

.player button {
    margin: 0 .5rem;
    font-size: 1.8rem;
    border: none;
    padding: .5rem 3rem;
    color: #fff;
    background-color: #cc9543;
    transition: background-color .3s;
}

.player button:hover {
    background-color:  #9b7234;
}

.computer {
    /* background-color: lightgreen; */
    flex-grow: 1;
}

.result {
    padding: 1rem 0;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result {
    font-size: 1.6rem;
    color: #333;
}

.result__round {
    margin-bottom: 1.5rem;
}

.restart {
    text-align: right;
}

.restart__button {
    border: none;
    background-color: #9b7234;
    padding: 1rem 3rem;
    color: #fff;
    font-size: 2rem;
}

.btn:active {
    outline: none;
}







































